<h1>Fill New Sheet</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.sheet_path(@conn, :create)) %>

<span><%= link "Back", class: "btn btn-outline-dark", to: Routes.sheet_path(@conn, :index) %></span>
