/* This file is for your main application css. */

$body-bg: white; // With scss, Bootstrap lets us override colors and stuff.
@import "~bootstrap/scss/bootstrap";

#sheet-header{
  margin-left: 0px;
}

textarea.log-notes{
  height: 40px;
}

.help-block{
  color: red;
}