<h1>Viewing Job</h1>

<ul>
  <li>
    <strong>Job Name:</strong>
    <%= @job.jobname %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @job.desc %>
  </li>

</ul>

<span><%= link "Edit", class: "btn btn-secondary", to: Routes.job_path(@conn, :edit, @job) %></span>
<span><%= link "Back", class: "btn btn-outline-dark", to: Routes.job_path(@conn, :index) %></span>
